[defaults]
inventory = inventory/
host_key_checking = False
retry_files_enabled = False
# Utiliser le callback par défaut avec format YAML
stdout_callback = default
display_args_to_stdout = True
remote_user = ubuntu
timeout = 30
interpreter_python = auto_silent
roles_path = roles/

[ssh_connection]
pipelining = True
